<div class="custom-wrapper">
    <div class="custom-card">
        <h1><img src="clouset.png" class="img-logo"></h1>
        <!-- <p>Entrá con Steam para acceder al dashboard.</p> -->
      
        <button (click)="loginSteam()" class="button-27 steam-btn" role="button">
            <img class="img-button" src="steam-logo.png" alt="Steam">
            <span>Login con Steam</span>
        </button>

        <button (click)="loginAnon()" class="button-27 steam-btn" role="button">
            <span>Login con Anon</span>
        </button>

        @if (loading) {
          <p style="margin-top:12px;">Procesando...</p>
        }
      
        @if (error) {
          <p style="color:#b00020;margin-top:12px;">{{ error }}</p>
        }
      </div>
</div>
