/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    background-color: #16161a;
    color: #fffffe;
}
.img-logo{
  width: 200px;
  height: 200px;
}

.img-button{
  width: 50px;
  height: 50px;
}

.custom-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;      /* centrado vertical */
  justify-content: center;  /* centrado horizontal */
}

.custom-card {
  text-align: center;
  padding: 32px 40px;
  border-radius: 12px;
  background: #010003;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
}

.player-card {
  text-align: center;
  padding: 32px 40px;
  border-radius: 12px;
  background: #010003;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
  border: 1px solid #2f2f5f;
}
/* CSS Botones */ 

  /*  Class: button-27  */
    .button-27 {
      appearance: none;
      background-color: #000000;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
      will-change: transform;
    }

    .button-27:disabled {
      pointer-events: none;
    }

    .button-27:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    .button-27:active {
      box-shadow: none;
      transform: translateY(0);
    }
/*  Class: button-27  */
